<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @page {
      size: letter portrait;
    }
  </style>
</head>
<body>
  <table class="default">
  {% for y in range_y %}
    <tr>
      {% for x in range_x %}
        <td>
          <img id="logo" src="{{image}}" />
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
</body>
</html>